@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root{
--cor-de-fundo:rgba(30, 30, 30, 1);
--cor-de-icones:rgba(136, 136, 136, 1);
--branco:rgba(255, 255, 255, 1);
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Oswald', sans-serif;
}
.conteudo-principal{
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}
.tirulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.tirulo-principal span{
    color: var(--branco);
}
.botao{
    font-family: "Oswald",sans-serif;
    background-color: var(--cor-de-icones);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    aling-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
}
.botao:first-child{
    border-radius: 40px 40px 40px 0 0;
}
.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--vermelho-claro);
}
.botoes{
    display: block;
}
.abas-textos{
    background-color: var(--cor-de-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
.aba-conteudo.ativo{
    display: block;
}
.aba-conteudo{
    display: none;
}
.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}
.aba-conteudo-titulo-secundario{
    text-align: center;
    color:var(--preto);
    text-transform: uppercase;
    
}
@media screen and (min-width: 768px) {
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}
