@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root{
--cor-de-fundo:rgba(30, 30, 30, 1);
--cor-de-icones:rgba(136, 136, 136, 1);
--branco:rgba(255, 255, 255, 1);
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}